:root {
    --maingreen: rgba(6, 95, 85, 0.854);
    --maintext: rgba(64, 2, 25, 0.906);
}

* {
    border: 3px solid rgba(64, 2, 25, 0.906);
    color: whitesmoke
}

code {
    border: none;
}

body {
    background-color: var(--maingreen);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--maintext)
}

@media screen and (min-width: 768px) {
    /* todo */
    *{
    border-color: blue;
    }
}

@media screen and (min-width: 992px) {
    /* todo */
    *{
        border-color: yellow;
        }
}





/* header {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px 50px 50px 50px;
}

.background {
   background-color: var(--mainpurple);

}

.grid {
    display: grid;
    width:100%;
    grid-template-columns: auto auto auto;

}

h2 {
    border-style:solid;
   

}

h2,h3,section>p {
    text-align: center;

    
}

section {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-style: dotted;
}

h3 {
    padding-top: 200px;
    font-weight: lighter;
    font-style: oblique;
    
} */